.edit {
    width: 26px;
    height: 26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 0.8;
    cursor: pointer;
}
.edit:hover {
    width:26px;
    height:26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}
.delete {
    width:26px;
    height:26px;
    background: url('../img/delete16.png') no-repeat;
    opacity: 0.6;
    cursor: pointer;
}
.delete:hover {
    width:26px;
    height:26px;
    background: url('../img/delete16.png') no-repeat;
    opacity: 1;
    cursor: pointer;
};