.accordion-toggle .edit_goods_name {
    display: none;
}

.editing .edit_goods_name {
    display: inline-block;
 
   
}
.nobullets {
    list-style: none;
}
.icon-plus {
    cursor: pointer;
    opacity: 0.8;
}
.icon-plus:hover {
    cursor: pointer;
    opacity: 1;
}
.editing .goods_name_id {
    display: none;
}

.edit_right {
    float:right;
    position:relative;
    width: 26px;
    height: 26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 0.8;
    cursor: pointer;
}
.edit_right:hover {
    float:right;
    position:relative;
    width:26px;
    height:26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}

.edit {
    float:left;
    position:relative;
    width: 26px;
    height: 26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 0.8;
    cursor: pointer;
}
.edit:hover {
    float:left;
    position:relative;
    width:26px;
    height:26px;
    background: url('../img/edit16.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}
.delete {
    float:left;
    position:relative;
    width:26px;
    height:26px;
    background: url('../img/delete16.png') no-repeat;
    opacity: 0.6;
    cursor: pointer;
}
.delete:hover {
    float:left;
    position: relative;
    width:26px;
    height:26px;
    background: url('../img/delete16.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}
.delete_unit {
    float:right;
    position:relative;
    width:26px;
    height:26px;
    background: url('../img/delete.png') no-repeat;
    opacity: 0.6;
    cursor: pointer;
}
.delete_unit:hover {
    float:right;
    position: relative;
    width:26px;
    height:26px;
    background: url('../img/delete.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}

.delete_goods {
    float:right;
    position:relative;
    width:26px;
    height:26px;
    background: url('../img/delete.png') no-repeat;
    opacity: 0.6;
    cursor: pointer;
}
.delete_goods:hover {
    float:right;
    position: relative;
    width:26px;
    height:26px;
    background: url('../img/delete.png') no-repeat;
    opacity: 1;
    cursor: pointer;
}
