<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Materials & Units Manager</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">

		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.js"></script>
		<script src="js/lib/boostrap/bootstrap.min.js"></script>
	</head>
	<body>

	<div class="container-navbar"></div>
	<div class="container-fluid"></div>
	
		<!-- NavBar template -->

		<script type="text/template" id="navbar">
			<div class="navbar navbar-static-top" style="margin-bottom:20px;">
				<nav class="navbar-inner">
					<a class="brand"> Warehouse :: <%= user %></a>
					<div class="btn-group pull-right">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							User Roles
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li> <a href="#customer"> Customer </a> </li>
							<li> <a href="#accountant">  Accountant </a> </li>
							<li> <a href="#engineer">  Engineer </a> </li>
							<li> <a href="#storekeeper">  Storekeeper </a> </li>
						</ul>
					</div>
				</nav>
			</div>		
		</script>

		<script type="text/template" id="chooseRole">
			<div class="row-fluid" style="margin-top:15%;">
				<div class="span5"></div>
				<div class="span2">
					<h3>Your role:</h3>
					<ul class="dropdown-menu" style="display: block; position: static; margin-bottom: 5px;">
						<li> <a href="#customer"> Customer </a> </li>
						<li> <a href="#accountant"> Accountant </a> </li>
						<li> <a href="#engineer"> Engineer </a> </li>
						<li> <a href="#storekeeper"> Storekeeper </a> </li>
					</ul>
				</div>
				<div class="span5"></div>
			</div>
		</script>
		<!-- User Tab templates -->
		
		<script type="text/template" id="storekeeperTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#materials" data-toggle="tab">Materials</a></li>
            </ul>
		</script>

		<script type="text/template" id="engineerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
            </ul>
		</script>

		<script type="text/template" id="accountantTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
              <li><a href="#materials" data-toggle="tab">Materials</a></li>
            </ul>
		</script>

		<script type="text/template" id="customerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
            </ul>
		</script>
		
		<!-- Tab templates -->

		<script type="text/template" id="tab">
			<div class="tab-pane fade<%= active %>" id="<%= id %>">
			</div>
		</script>

		<!-- Modal templates -->

		<script type="text/template" id="">
			
		</script>

		<!-- Materials View templates -->
		
		<script type="text/template" id="tableheader-materials-accountant">
		  	<thead>
			  	<th> Material </th>
				<th> Price </th>
			</thead>
		</script>

		<script type="text/template" id="tableheader-materials-storekeeper">
		  	<thead>
			  	<th> Material </th>
				<th> Price </th>
				<th> Edit </th>
				<th> Delete </th>
			</thead>
		</script>
		
		<script type="text/template" id="materials-storekeeper">
		  	<td> <%= material %> </td>
			<td> <%= price %> </td>
			<td> <div class="edit"></div> </td>
			<td> <div class="delete"></div> </td>
		</script>

		<script type="text/template" id="materials-accountant">
		  	<td> <%= material %> </td>
			<td> <%= price %> </td>
		</script>

		<!-- other templates -->

		<!-- old templates -->

		<script type="text/template" id="navigation">
        	
        			<ul class="nav nav-tabs">
            			 <li id="showMaterial"><a href="#2A"  >Show Materials</a></li>
            			 <li id="showUnit"><a href="#2B"  class="btn-small">Show Unit</a></li>
            			 <li id="showGoods"><a href="#2C"  class="btn-small">Show Goods</a></li>
            		</ul>

        </script>  
		
		<script type="text/template"  id="temlateGoods">
			<div class="tab-content">
			<div class="tab-pane active" id="2B">
			<h1>Warehouse</h1><br>
			
			
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
			<div id="addGoods">
				<div class="fl">New goods:</div>
				<div class="fle"><input class="textbox" id="goods" type="text"></div>
			</div>
			<div style="height:15px;"></div>
			<br>
			
			<div id="goods_holder" class="tabbable tabs-left">



			</div>
        </script> 
        
               
        <script type="text/template"  id="temlateUnits">
			<div class="tab-content">
				<div class="tab-pane active" id="2B">
					<h1>Warehouse</h1><br>
			
					<div id="addUnit">
							<div class="fl">New unit:</div>
							<div class="fle"><input class="textbox" id="unit" type="text"></div>
					</div>
					<div style="height:15px;"></div>
					<br>
			
					<div id="units_holder"></div>

			 		</div>
        	 	</div>
        	 </div>
        </script> 
   
        <script type="text/template"  id="temlateMaterials" >
		<div class="tab-content">
			<div class="tab-pane active" id="2A">
				<h1>Warehouse</h1><br>
			
            	<div id="addMaterial">
						<div class="fl">Material:</div>
						<div class="fle"><input class="textbox" id="material" type="text"></div>
						<div class="clear"></div>
						<div class="fl">Price:</div> 
						<div class="fle"><input class="textbox" id="price" type="text"></div> 
            	</div>
			
            	<div id="table_holder"></div>
            </div>
         </div>
        </script> 
		
		
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		
		<script type="text/template" id="goods-name">
			<div class="goods_holder">
				<div class="goods_name"><%= nameG %></div>
				<input class="edit_goods_name" value="<%= nameG %>">
				<div class="deleteGoods" title="Delete <%= nameG %> "></div>
				<div class="edit_goodsItem" title="Edit <%= nameG %> "></div>
				<div class="clear"></div>
				<div class="goods_info"></div>
			</div>
			<div class="clear"></div>	
			<div style="height:15px;"></div>
		</script>
		
		<script type="text/template" id="goods-count">
			<div class="holder">
				<div class="units_in_Goods"><%= units %></div>
				<div class="count"><%= count %></div>
				<input class="editUnitsCount">
				
				<div class="delete" title="Delete <%= units %> material"></div>
				<div class="editCount"></div>
			</div> 
		</script>		
		
		<script type="text/template" id="goods-count-plus">
			  <div class="holder">
				<div class="plus" title="Add <%= name %> to the goods"></div>
				<div class="material"><%= name %></div>
				<!-- <div class="count"></div> -->
			  </div>
			  <div class="clear"></div>
		</script>	
		
		
   
		<script type="text/template" id="unit-name">
			<div class="unit_holder">
				<div class="unit_name"><%= name %></div>
				<input class="edit_unit_name" value="<%= name %>">
				<div class="deleteUnit" title="Delete <%= name %> unit"></div>
				<div class="edit_unitItem" title="Edit <%= name %> unit"></div>
				<div class="clear"></div>
				<div class="unit_info"></div>
			</div>
			<div class="clear"></div>	
			<div style="height:15px;"></div>
		</script>
		
		<script type="text/template" id="unit-count">
			<div class="holder">
				<div class="material_in_unit"><%= material %></div>
				<div class="count"><%= count %></div>
				<input class="editMaterialCount">
				
				<div class="delete" title="Delete <%= material %> material"></div>
				<div class="editCount"></div>
			</div> 
		</script>
		
		<script type="text/template" id="material-price-plus">
			  <div class="holder">
				<div class="plus" title="Add <%= material %> to the unit"></div>
				<div class="material"><%= material %></div>
				<div class="price"><%= price %></div>
			  </div>
			  <div class="clear"></div>
		</script>
	
		<!-- scripts -->
		<script src="js/lib/underscore.js"></script>
		<script src="js/lib/backbone.js"></script>
		
		<script src="js/defaults.js"></script>
		<script src="js/dbConnector.js"></script>

		<script src="js/models/models.js"></script>
		<script src="js/collections/collections.js"></script>
		
		<script src="js/views/Materials.js"></script>
		<script src="js/views/Units.js"></script>
		<script src="js/views/UnitItems.js"></script>
		<script src="js/views/AddUnit.js"></script>
		<script src="js/views/AddMaterials.js"></script>
		<script src="js/views/Goods.js"></script>
		<script src="js/views/AddGoods.js"></script>
		<script src="js/views/GoodsItem.js"></script>
		<script src="js/views/AddUnitsList.js"></script>
		<script src="js/views/Users.js"></script>

		<script src="js/router/router.js"></script>
		
		<script src="js/app.js"></script>

	</body>
</html>
