<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Materials & Units Manager</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>

	<div class="container-navbar"></div>
	<div  class="container"></div>
	
<!-- NavBar template --> 

	<script type="text/template" id="navbar">
		<div class="navbar navbar-static-top" style="margin-bottom:20px;">
			<nav class="navbar-inner">
				<div style="width: 570px; margin: 0 auto;">
					<a class="brand"> Warehouse </a>

					<button type="button" id="login" class="btn btn-primary pull-right left20" data-loading-text="Loading...">login</button>
					
					<div class="pull-right" id="userRole">
						<%= user %>
					</div>

				</div>
			</nav>
		</div>		
	</script>

	<script type="text/template" id="chooseRole">
		<div class="row" style="margin-top:15%;">
			<div class="span5"></div>
			<div class="span2">
				<h3>Your role:</h3>
				<ul class="dropdown-menu" style="display: block; position: static; margin-bottom: 5px;">
					<li> <a href="#customer"> Customer </a> </li>
					<li> <a href="#accountant"> Accountant </a> </li>
					<li> <a href="#engineer"> Engineer </a> </li>
					<li> <a href="#storekeeper"> Storekeeper </a> </li>
				</ul>
			</div>
			<div class="span5"></div>
		</div>
	</script>

<!-- User form template -->

	<script type="text/template" id="loginForm">
			<div class="row" style="margin-top:15%;">

				<div class="span12"><h3 class="text-center">Welcome!</h3>
				<div class="row">
					<div >
					<div class="span5 offset3 ">
					
						<form class="form-horizontal" id="loginForm2">
  						<div class="control-group">
    					<label class="control-label" for="inputLogin">Login</label>
    					<div class="controls">
      					<input type="text" id="inputLogin" placeholder="Login" name="login">
    					</div>
  						</div>
  						<div class="control-group">
    					<label class="control-label" for="inputPassword">Password</label>
    					<div class="controls">
      					<input type="password" id="inputPassword" placeholder="Password" name="pswd">
    					</div>
  						</div>
  						<div class="control-group">
    					<div class="controls">
      					<button id="loginButton" type="button" class="btn">Sign in</button>
    					</div>
	  					</div>
						</form>
					</div>
				<div>
			</div>
		</script>
		
<!-- User Tab templates -->
		
		<script type="text/template" id="storekeeperTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#materials" data-toggle="tab">Materials</a></li>
	              <div class="btn-group pull-right">
				  <a class="btn dropdown-toggle"  id="actionButton" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				  	<li><a id="fetchData"><span class="label label-success">Fetch Data</span></a></li>
					<li><a id="sendData" href="#sendData"><span class="label label-success">Send Data</span></a></li> 
					<li><a id="clearDB"><span class="label label-important">Delete Database</span></a></li>
					<li><a id="saveCollectionsToDb"><span class="label label-info">Save to Database</span></a></li>
				  </ul>
				</div>
            </ul>

		</script>

		<script type="text/template" id="engineerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
	              <div class="btn-group pull-right">
				  <a class="btn dropdown-toggle"  id="actionButton" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				  	<li><a id="fetchData"><span class="label label-success">Fetch Data</span></a></li>
					<li><a id="sendData" href="#sendData"><span class="label label-success">Send Data</span></a></li> 
					<li><a id="clearDB"><span class="label label-important">Delete Database</span></a></li>
					<li><a id="saveCollectionsToDb"><span class="label label-info">Save to Database</span></a></li>
				  </ul>
				</div>
            </ul>

		</script>

		<script type="text/template" id="accountantTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
              <li><a href="#materials" data-toggle="tab">Materials</a></li>
            </ul>
		</script>

		<script type="text/template" id="customerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
            </ul>
		</script>
		
<!-- Tab templates -->

		<script type="text/template" id="tab">
			<div class="tab-pane fade<%= active %>" id="<%= id %>">
			</div>
		</script>

<!-- Button templates -->

		<script type="text/template" id="addUnitsButton">
			<a href="#addNewUnit" role="button" class="btn btn-info" id="newUnitBtn" data-toggle="modal"><i class="icon-white icon-plus"></i> New Unit</a>
			<div class="clear"></div>
			<br>
		</script>

		<script type="text/template" id="addNewMaterialButton">
			<a href="#addNewMaterial" id="NewMaterialButton" role="button" class="btn btn-info" data-toggle="modal"><i class="icon-white icon-plus"></i> New Material</a>
		</script>

		<script type="text/template" id="addGoodsButton">
			<a href="#addNewMaterial" role="button" class="btn btn-info" data-toggle="modal"><i class="icon-white icon-plus"></i> New goods</a>
		</script>
	
		<script type="text/template" id="addUnit2GoodsButton">
		<a href="#addUnit2Goods" role="button" class="btn btn-info btn-small" data-toggle="modal"><i class="icon-white icon-plus"></i> Units</a>
		</script>
		
<!-- Modal templates -->

		<script type="text/template" id="addNewUnitModal">
			<div id="addNewUnit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabelUnit">Add New Unit</h3>
				  </div>
				  <div class="modal-body">
				    	
					Unit name: <input class="textbox" id="unit" class="required" type="text">

				  </div>
				  <div class="modal-footer">
				    <button class="btn close-addNewUnit" data-dismiss="modal" aria-hidden="true">Close</button>
				    <button class="btn btn-primary save-material">Save changes</button>
				  </div>
				</div>
		</script>

		<script type="text/template" id="addNewMaterialModal">
			<div id="addNewMaterial" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Add New Material</h3>
				    
				  </div>
				  <div class="modal-body">
				    	
					Material: <input class="textbox" id="material" type="text">
					<div class="clear"></div>
					Price: <input class="textbox" id="price" type="text">

				  </div>
				  <div class="modal-footer">
				    <button class="btn close-addNewMaterial" data-dismiss="modal" aria-hidden="true">Close</button>
				    <button class="btn btn-primary save-material">Save changes</button>
				  </div>
				</div>
		</script>

		<script type="text/template" id="addMaterial2UnitModal">
			<div id="addMaterial2Unit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Add New Material</h3>
				  	<p class="unit_text"></p>
				  </div>
				  <div id="materialsContainer" class="modal-body">

				  </div>
				  <div class="modal-footer">
				    <button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true">Close</button>
				  </div>
				</div>
		</script>



		<script type="text/template" id="addUnit2GoodsTemplate">
			<div id="addUnit2Goods" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Add Units</h3>
			    <br>
			    <p class="goods_text"></p>
			  </div>
			  <div id="unitContainer" class="modal-body">

			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			  </div>
			</div>
		</script>
		
		<script type="text/template" id="addGoodsButtonTemplate">
			<div class="left">
		 	 	<button class="btn btn-info addGoodsButton" data-toggle="modal"><i class="icon-white icon-plus"></i> New Goods</button>
			 </div>	
		</script>

		<script type="text/template" id="addGoodsViewTemplate">
			 <div id="addGoodsView">
			 	<span class="left">
			 		<input class="textbox span2" id="goods" type="text">
			 	</span>
				<span class="left">
					<button class="btn btn-small btn-success add-goods"> Add </button>
				</span>
				<span class="left">
					<button class="btn btn-small btn-danger cancel-goods"> Cancel </button>
				</span>
			 </div>	
			<div class="clearfix"></div><br>
        </script>

        <script type="text/template" id="addUnitsButtonTemplate">
			<div class="left">
		 	 	<button class="btn btn-info addUnitsButton" data-toggle="modal"><i class="icon-white icon-plus"></i> New Units</button>
			 </div>	
			 
		</script>

		<script type="text/template" id="addUnitsViewTemplate">
			 <div id="addUnitsView">
			 	<span class="left">
			 		<input class="textbox span2" id="unitsName" type="text">
			 	</span>
				<span class="left">
					<button class="btn btn-small btn-success add-units"> Add </button>
				</span>
				<span class="left">
					<button class="btn btn-small btn-danger cancel-units"> Clear </button>
				</span>
			 </div>	
			<div class="clearfix"></div><br>
        </script>

<!-- send data template --> 
        <script type="text/template" id="sendDataTmp">
			<h1>Send data to json</h1>
		</script>

<!-- Materials View templates -->
		
		<script type="text/template" id="tableheader-materials-accountant">
		  	<thead>
			  	<th> Material </th>
				<th> Price </th>
			</thead>
		</script>

		<script type="text/template" id="tableheader-materials-storekeeper">
		  	<thead>
			  	<th> Material </th>
				<th> Price </th>
				<th> Edit </th>
				<th> Delete </th>
			</thead>
		</script>
		
		<script type="text/template" id="materials-storekeeper">
		  	<td> <%= material %> </td>
			<td> 
				<span class="price"> $<%= price %> </span>
				<input type="text" value="<%= price %>" class="editPrice">
			</td>
			<td> <div class="edit"></div> </td>
			<td> <div class="delete"></div> </td>
		</script>

		<script type="text/template" id="materials-accountant">
		  	<td> <%= material %> </td>
			<td> $<%= price %> </td>
		</script>

<!-- Goods View templates -->

		<script type="text/template" id="goods-name">
			<div class="goods_holder">
				<div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#goods_holder" href="#<%= hrefId %>">
			        <span id="<%= hrefId %>_goodsId" class="goods_name_id"><%= nameG %></span>

			        <input class="edit_goods_name" type="text">
			        <div class="delete_goods"></div><div class="edit_right"></div>
			      </a>
			      <span class="headerPrice"> <strong>$<%=goodsPrice%></strong></span>
			    </div>
	
			</div>
			<div class="clear"></div>	
		
		</script>

		<script type="text/template" id="goods-name-customer">
			<div class="goods_holder">
				<div class="accordion-heading">

			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#goods_holder" href="#<%= hrefId %>">

			        <span id="<%= hrefId %>_goodsId" class="goods_name_id"><%= nameG %></span>
			      </a>
			      <span class="input-prepend input-append shoping">
			      	<span class="add-on "><strong>$<%=goodsPrice%></strong></span>
  					<input class="span1 appendedInputButton" style="text-align:right;" value=1 type="text">
  					<button class="btn Bay-item" type="button"><i class="icon-plus"></i> Buy! </button>
				</span>
			     

			    </div>

	
			</div>
			<div class="clear"></div>	
		
		</script>
		

<!-- Unit View templates -->	

		<script type="text/template" id="unit-name">
			<div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion-group" href="#<%= hrefID %>">
		        <span class="unit_name" ><%= name %></span>
		        <input class="edit_unit_name" value="<%= name %>" type="text">
				<div class="delete_unit"></div>
				<div class="edit_right"></div>
		      </a>
		    <span class="headerPrice"> <strong>$<%=unitPrice%></strong></span>
		    </div>
			<div class="clear"></div>	
		</script>

		<script type="text/template" id="materials-table">
			<div class="accordion-inner">
			   <table class="table">
					<thead>
						<tr>
							<th> Units </th>
							<th> Quantity </th>
							<th> Edit </th>
							<th> Delete </th>
							<th> Price total </th>
						</tr>
					</thead>
					<tbody id="<%= hrefID %>_tableRow" class="holder">						

			            <tr>	
			        		<td colspan="4" class="colspan4">
								<a href="#addMaterial2Unit" role="button" class="btn btn-info btn-small add-material-to-unit" data-toggle="modal"><i class="icon-white icon-plus"></i> Materials</a>
							</td>
							<td>
								Unit price: <b class='unitPrice'>$<%= unitPrice %></b>
							</td>
			        	</tr>			
					</tbody>			    	
			    </table> 
			</div>			 
		</script>
	
		<script type="text/template" id="basket-table">
			<div class="accordion-inner">
			   <table class="table">
					<thead>
						<tr>
							<th> ItemsName </th>
							<th> Quantity </th>
							<th> Price total </th>
							<th> Delete </th>
						</tr>
					</thead>
					<tbody id="basket_tableRow" class="holder">						

			            <tr>	
			        		<td colspan="3" class="colspan4">
								<a href="#"  class="btn btn-info btn-small "><i class="icon-white icon-plus"></i>Confirm</a>
							</td>
							<td>
								Unit price: <b class='unitPrice'>$</b>
							</td>
			        	</tr>			
					</tbody>			    	
			    </table> 
			</div>			 
		</script>



		<script type="text/template" id="materials-row-in-unit">
        	<td> <%= material %> </td>
        	<td> 
        		<span class="count"><%= count %></span>
        		<input type="text" class="edit_count" value="<%= count %>">
        	</td>
        	<td> <div class="edit" title="Edit quantity of <%= material %> material"></div> </td>
        	<td> <div class="delete" title="Delete <%= material %> material"></div></td>
        	<td> $<%=unitItemPrice%> </td>
        </script>

<!-- other templates -->
		<script type="text/template" id="basket">
        	<td><%= itemsName %></td>
        	    <td><span class="count"><%= counts %></span>
        		<input type="text" class="edit_count" value="<%= counts %>"></td>
        	   	<td><span> $<%=price%></span></td>
        	 <td><div class="delete" title=""></div></td>
        </script>		


<!-- old templates -->

		<script type="text/template" id="navigation">

        	<li class="active"><a href="#products" data-toggle="tab" id="showMaterial"><i class="icon-tint"></i>Show Materials</a></li>
        	 <li><a href="#units" data-toggle="tab" id="showUnit" ><i class="icon-th-list"></i>Show Unit</a></li>
        	<li>
        		<a href="#goodsView" data-toggle="tab" id="showGoods" >
        		<i class="icon-shopping-cart"></i>Show Goods</a>
        	</li>
        	<li><a href="#2C" id="fetchMaterials"  data-toggle="tab">
        	<i class="icon-shopping-cart"></i>fetchMaterials</a>
        	</li>
  
    	</script>  

		<script type="text/template" id="units-table">

		    <div class="accordion-inner">		
		   	   <table class="table">
					<thead>
						
						<th> Units </th>
						<th> Quantity </th>
						<th> Edit </th>
						<th> Delete </th>
						<th> Price total </th>
					</thead>
					<tbody id="<%= nameGoods %>_tableRow">

	                	<tr>	
	                		<td class="buttonPlace colspan4" colspan="4">
	                				
	                		</td>
							<td>
								Total price: <b class='goodsPrice'>$<%=goodsPrice%></b>
							</td>
	                	</tr>
					</tbody>
                	
                </table>

		      </div>

		</script>

		<script type="text/template" id="units-table-customer">

		    <div class="accordion-inner">		
		   	   <table class="table">
					<thead>
						
						<th> Units </th>
						<th> Quantity </th>
						<th> Price total </th>
					</thead>
					<tbody id="<%= nameGoods %>_tableRow">

	                	<tr>	
	                		<td class="buttonPlace" colspan="2">
	                				
	                		</td>
							<td>
								Total price: <b class='goodsPrice'>$<%=goodsPrice%></b>
							</td>
	                	</tr>
					</tbody>
                	
                </table>

		      </div>

		</script>
		
		<script type="text/template" id="goods-count">
		     
        	<td><div class="units_in_Goods"><%= units %></div></td>
        	<td> <div class="count"><%= count %></div> <input class="edit_units_count" type="text"> </td>
        	<td> <div class="edit"></div> </td>
        	<td> <div class="delete" title="Delete <%= units %> material"></div></td>
        	<td class='goodsItemPrice'> $<%=goodsItemPrice%> </td>

		</script>	

		<script type="text/template" id="goods-count-customer">
		     
        	<td><div class="units_in_Goods"><%= units %></div></td>
        	<td> <div class="count"><%= count %></div> </td>
        	<td class='goodsItemPrice'> $<%=goodsItemPrice%> </td>

		</script>
		
		<script type="text/template" id="goods-count-plus">
			<div class="add_item">			
				<div class="general"> <a name="<%= name %>"> <%= name %> </a> </div> 
				<div class="additional">
					<span class="next"> <input type="text" value="1"> </span>
					<span class="next"> <button class="add btn btn-mini btn-info"> Add </button> </span> 
				</div> 
			</div>
		</script>	

		<script type="text/template" id="unit-name">
			<div class="unit_holder">
				<div class="unit_name"><%= name %></div>
				<input class="edit_unit_name" value="<%= name %>">
				<div class="deleteUnit" title="Delete <%= name %> unit"></div>
				<div class="edit_unitItem" title="Edit <%= name %> unit"></div>
				<div class="clear"></div>
				<div class="unit_info"></div>

			</div>
			<div class="clear"></div>	
			<div style="height:15px;"></div>
		</script>
		
		<script type="text/template" id="material-price-plus">
			<div class="add_item">			
				<div class="general"> <a name="<%= material %>"> <%= material %> </a> </div> 
				<div class="additional">
					<span class="next"> <input type="text" value="1"> </span>
					<span class="next"> <button class="add btn btn-mini btn-info"> Add </button> </span>
					<span class="next"> ($<%= price %>) </span> 
				</div> 
			</div>	
		</script>

		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/boostrap/bootstrap.min.js"></script>
		<script src="js/lib/jquery-ui.js"></script>
		<script src="js/lib/jquery.validate.js"></script>

		<script src="js/lib/underscore.js"></script>
		<script src="js/lib/backbone.js"></script>

		<script src="js/defaults.js"></script>
		<script src="js/dbConnector.js"></script>
		<script src="js/statemachin/stMachine.js"></script>
		<script src="js/validation/materialsValidation.js"></script>
		
		<script src="js/validation/jQvalidation.js"></script>

		<script src="js/models/MaterialModel.js"></script>
		<script src="js/models/UnitModel.js"></script>
		<script src="js/models/UnitItemModel.js"></script>
		<script src="js/models/GoodsModel.js"></script>
		<script src="js/models/GoodsItemModel.js"></script>
		<script src="js/models/BasketItem.js"></script>
		
		<script src="js/collections/BasketItems.js"></script>
		<script src="js/collections/Goods.js"></script>
		<script src="js/collections/GoodsItems.js"></script>
		<script src="js/collections/List.js"></script>
		<script src="js/collections/Units.js"></script>
		<script src="js/collections/UnitsItems.js"></script>

		<script src="js/views/Material.js"></script>
		<script src="js/views/List.js"></script>
		<script src="js/views/AddMaterial.js"></script>
		
		<script src="js/views/Units.js"></script>
		<script src="js/views/UnitsList.js"></script>
		
		<script src="js/views/UnitItem.js"></script>
		<script src="js/views/UnitItemsList.js"></script>

		<script src="js/views/AddUnitsButton.js"></script>
		<script src="js/views/AddUnitsView.js"></script>

		<script src="js/views/AddMaterialsList.js"></script>
		<script src="js/views/PlusMaterial.js"></script>

		<script src="js/views/Goods.js"></script>
		<script src="js/views/GoodsList.js"></script>
		<script src="js/views/GoodsItem.js"></script>
		<script src="js/views/GoodsItemsList.js"></script>

		<script src="js/views/AddGoodsButton.js"></script>
		<script src="js/views/AddGoodsView.js"></script>
		
		<script src="js/views/AddUnitsList.js"></script>
		<script src="js/views/BasketItems.js"></script>
		<script src="js/views/Basket.js"></script>
		<script src="js/views/Users.js"></script>
		<script src="js/router/router.js"></script>
		
		<script src="js/app.js"></script>

	</body>
</html>
