<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>HTML 5 Application - IndexedDb</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		
</head>
<body>
	<div id="main">
			
			
			<br/>
			
	</div>
	<hr>
	<div id="productAdd">
			<label for="product">Material: </label>
			 <input type="text" name="product" id="product">
			 
			 <label for="productPrice">Price: </label>
			<input type="text" name="productPrice" id="productPrice"> 
			
			<input type="submit" value="Add" id="add" onclick="">
			<input type="button" value="clear db" id="clearDB" onclick="clearAllProducts()">
			<input type="button" value="open db" id="openDB" onclick="openDatabase()">
			<input type="button" value="create db" id="createDB" onclick="createDatabase()">
			<input type="button" value="fatch all db" id="fatchAllDB" onclick="fetchAllProducts()">
			<input type="button" value="fatch all2" id="fatchAllbyIndex" onclick="fetchAllProduct_ver2()">
			<input type="button" value="delete product" id="deleteProduct" onclick="deleteProductById()">
			<div class="ProductResult" class="product-result"></div>
	</div>
	
	<h1>Products</h1>
		<div class="products">
			<script type="text/template" id="productTemplate">
				<span class="mat"> <%= material %></span> - <span class="pr"><%= price %></span>  <button class="delete">Delete</button>
			</script>
		</div> 
		<div id="result" />
		
		
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/indexedDB.js" ></script>
		<script src="js/app.js"></script>
</body>
</html>