 body {
width: 500px;
margin:0 auto;
font-famely: Vardana;
}
h1{
text-align:center;
font:30px Vardana;

}

p{

margin:10px, 0px, 10px, 10px; 
padding-left:20px;

}
fieldset{

margin:10px, 0px, 20px, 10px;


}
