			<div class="accordion-inner">
			   <table class="table">
					<thead>
						<tr>
							<th> ItemsName </th>
							<th> Quantity </th>
							<th> Price total </th>
							<th> Delete </th>
						</tr>
					</thead>
					<tbody id="basket_tableRow" class="holder">						

			            <tr>	
			        		<td colspan="3" class="colspan4">
								<a href="#"  class="btn btn-info btn-small "><i class="icon-white icon-plus"></i>Confirm</a>
							</td>
							<td>
								Basket price: <b class='BasketPrice'>$</b>
							</td>
			        	</tr>			
					</tbody>			    	
			    </table> 
			</div>