<div id="confirmForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add New Order</h3>
  	<p class="unit_text">
		<form class="form-horizontal" >
		  <div class="control-group">
		    <label class="control-label" for="firstName">Name</label>
		    <div class="controls" id="123456789">
		      <input type="text" id="firstName" placeholder="Name" name="firstName">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputLastName">Last Name</label>
		    <div class="controls">
		      <input type="text" id="inputLastName" placeholder="Last Name"  name="lastName">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputAddress">Your adress</label>
		    <div class="controls">
		      <input type="text" id="inputAddress" placeholder="Your adress" name="address">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button id="submitForm" class="btn">Order</button>
		    </div>
		  </div>

		</form>
  	</p>
  </div>
  <div id="materialsContainer" class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true" id="closeForm">Close</button>
  </div>
</div>
