			<div class="goods_holder">
				<div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#goods_holder" href="#<%= hrefId %>">
			        <span id="<%= hrefId %>_goodsId" class="goods_name_id"><%= nameG %></span>

			        <input class="edit_goods_name" value="<%= nameG %>" type="text">
			        <div class="delete_goods"></div><div class="edit_right"></div>
			      </a>
			    </div>
			    <span class="headerPrice"> <strong>$<%=goodsPrice%></strong></span>	
			</div>
			<div class="clear"></div>