			<div class="goods_holder">
				<div class="accordion-heading">

			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#goods_holder" href="#<%= hrefId %>">

			        <span id="<%= hrefId %>_goodsId" class="goods_name_id"><%= nameG %></span>
			      </a>
			      <span class="input-prepend input-append shoping">

			      	<span class="add-on">
			      		<span class="bigprice">
			      			$<%=goodsPrice%>
						</span>
			      	</span>

  					<input class="span1 appendedInputButton" style="text-align:right;" value=1 type="text">
  					<button class="btn Bay-item" type="button"><i class="icon-plus"></i> Buy! </button>
				</span>
			     

			    </div>

	
			</div>
			<div class="clear"></div>	