			<div class="accordion-inner">		
		   	   <table class="table">
					<thead>
						
						<th> Units </th>
						<th> Quantity </th>
						<th> Price total </th>
					</thead>
					<tbody id="<%= nameGoods %>_tableRow">

	                	<tr>	
	                		<td class="buttonPlace" colspan="2">
	                				
	                		</td>
							<td>
								Total price: <b class='goodsPrice'>$<%=goodsPrice%></b>
							</td>
	                	</tr>
					</tbody>
                	
                </table>

		    </div>