<div class="accordion-inner">
   <table class="table">
		<thead>
			<tr>
				<th> Units </th>
				<th> Quantity </th>
				<th> Edit </th>
				<th> Delete </th>
				<th> Price total </th>
			</tr>
		</thead>
		<tbody id="<%= hrefID %>_tableRow" class="holder">						

            <tr>	
        		<td colspan="4" class="colspan4">
					<a href="#addMaterial2Unit" role="button" class="btn btn-info btn-small add-material-to-unit" data-toggle="modal"><i class="icon-white icon-plus"></i> Materials</a>
				</td>
				<td>
					Unit price: <b class='unitPrice'>$<%= unitPrice %></b>
				</td>
        	</tr>			
		</tbody>			    	
    </table> 
</div>	