		<script type="text/template" id="storekeeperTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#materials" data-toggle="tab">Materials</a></li>
	              <div class="btn-group pull-right">
				  <a class="btn dropdown-toggle"  id="actionButton" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				  	<li><a id="fetchData"><span class="label label-success">Fetch Data</span></a></li>
					<li><a id="sendData" href="#sendData"><span class="label label-success">Send Data</span></a></li>
					<li><a id="clearDB"><span class="label label-important">Delete Database</span></a></li>
					<li><a id="saveCollectionsToDb"><span class="label label-info">Save to Database</span></a></li>
				  </ul>
				</div>
            </ul>

		</script>

		<script type="text/template" id="engineerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
	              <div class="btn-group pull-right">
				  <a class="btn dropdown-toggle"  id="actionButton" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				  	<li><a id="fetchData"><span class="label label-success">Fetch Data</span></a></li>
					<li><a id="sendData" href="#sendData"><span class="label label-success">Send Data</span></a></li>
					<li><a id="clearDB"><span class="label label-important">Delete Database</span></a></li>
					<li><a id="saveCollectionsToDb"><span class="label label-info">Save to Database</span></a></li>
				  </ul>
				</div>
            </ul>

		</script>

		<script type="text/template" id="accountantTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <li><a href="#units" data-toggle="tab">Units</a></li>
              <li><a href="#materials" data-toggle="tab">Materials</a></li>
              <div class="input-append filter">
                <input type="text" class="span2 input-append" id="searchInput">
                <button type="submit" class="btn " id="resetButton"><i class=" icon-remove"></i></button>
              </div>
            </ul>
		</script>

		<script type="text/template" id="customerTab">
			<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#products" data-toggle="tab">Products</a></li>
              <button class="btn btn-mini" id="restorePrice" type="button"><i class="icon-remove"></i></button>
              <input type="text" id="slider" value="slider" data-slider-min="1" data-slider-max="1000" data-slider-step="10" data-slider-value="[110, 250]" data-slider-orientation="horizontal">

              <div class="alert" id="showSlider">Price filter <i class="icon-search"></i></div>
            </ul>

		</script>